/*same for all */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeInClass {
  animation: fadein 1s;
}

.fadeOutClass {
  animation: fadeout 1s;
}

.hide{
  opacity:0;
}

body {
  animation: fadein 2s;
  font-family: futura, sans-serif;
}

footer a:visited {
    color: darkgrey;
}

footer a:hover {
    color: lightgrey;
}

footer a{
  text-decoration: none;
  color: white;
}

/*mobile*/
#inBag img {
  max-height:100%;
  overflow-x:scroll;
  position: absolute;
}

#bag {
  position:absolute;
  width:28%;
  height: 61%;
  top:18%;
  left:10%;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
}

#laidOut {
  opacity: 0;
}

#textOnImg {
  position: fixed;
  right: 0;
  bottom: 0; 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1; 
  width: 50%; 
  padding: 20px;
}

#micron {
  position:absolute;
  width:32%;
  height: 41%;
  top:20%;
  left:37%;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
}

#micronPic {
  position:fixed;
  display:none;
  max-width: 50%;
  padding: 15px;
  margin-top: 10%;
  margin-left: 20%;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
}

#sakura {
  position:absolute;
  width:37%;
  height: 35%;
  top:20%;
  left:70%;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
}

#sakuraPic {
  position:fixed;
  display:none;
  max-width: 50%;
  padding: 15px;
  margin-top: 10%;
  margin-left: 40%;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
}

#pencil {
  position:absolute;
  width:38%;
  height: 15%;
  top:55%;
  left:69%;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
}

#pencilPic {
  position:fixed;
  display:none;
  max-width: 50%;
  padding: 15px;
  margin-top: 26%;
  margin-left: 40%;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
}

#highlighter {
  position:absolute;
  width:40%;
  height: 8%;
  top:70%;
  left:83%;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
}

#highlighterPic {
  position:fixed;
  display:none;
  max-width: 50%;
  padding: 15px;
  margin-top: 30%;
  margin-left: 45%;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
}

#buju {
  position:absolute;
  width:7%;
  height: 45%;
  top:20%;
  right:-17%;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
}

#bujuPic {
  position:fixed;
  display:none;
  max-width: 50%;
  padding: 15px;
  margin-top: 25%;
  margin-left: 46%;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
}

#white {
  position:absolute;
  width:7%;
  height: 47%;
  top:20%;
  right:-24.5%;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
}

#whitePic {
  position:fixed;
  display:none;
  max-width: 50%;
  padding: 15px;
  margin-top: 20%;
  margin-left: 46%;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
}

footer{
  position:fixed;
  bottom: 0;
  width:30%;
  height:20px;
  padding: 15px;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;

}

@media only screen and (min-width: 768px) {
#inBag img {
  max-width: 100%;
  position: absolute;
}

#bag {
  position:absolute;
  width:20%;
  height: 61%;
  top:18%;
  left:7%;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
}

#laidOut {
  opacity: 0;
}

#textOnImg {
  position: absolute;
  right: 0;
  bottom: 0; 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1; 
  width: 50%; 
  padding: 20px;
}

#micron {
  position:absolute;
  width:22%;
  height: 41%;
  top:20%;
  left:28%;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
}

#micronPic {
  position:absolute;
  display:none;
  max-width: 50%;
  padding: 15px;
  margin-top: 10%;
  margin-left: 20%;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
}

#sakura {
  position:absolute;
  width:29%;
  height: 35%;
  top:20%;
  left:51%;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
}

#sakuraPic {
  position:absolute;
  display:none;
  max-width: 50%;
  padding: 15px;
  margin-top: 10%;
  margin-left: 40%;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
}

#pencil {
  position:absolute;
  width:29%;
  height: 15%;
  top:55%;
  left:51%;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
}

#pencilPic {
  position:absolute;
  display:none;
  max-width: 50%;
  padding: 15px;
  margin-top: 26%;
  margin-left: 40%;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
}

#highlighter {
  position:absolute;
  width:30%;
  height: 8%;
  top:70%;
  left:61%;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
}

#highlighterPic {
  position:absolute;
  display:none;
  max-width: 50%;
  padding: 15px;
  margin-top: 30%;
  margin-left: 45%;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
}

#buju {
  position:absolute;
  width:6%;
  height: 45%;
  top:20%;
  left:80%;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
}

#bujuPic {
  position:absolute;
  display:none;
  max-width: 50%;
  padding: 15px;
  margin-top: 25%;
  margin-left: 46%;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
}

#white {
  position:absolute;
  width:6%;
  height: 47%;
  top:20%;
  left:86%;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
}

#whitePic {
  position:absolute;
  display:none;
  max-width: 50%;
  padding: 15px;
  margin-top: 20%;
  margin-left: 46%;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
}

footer{
  position:absolute;
  bottom: 0;
  width:30%;
  height:20px;
  padding: 15px;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;

}
}
