html, body {
  height: 100%;
}

body {
  background-color: #000000;
  margin: 0;
  font-family: futura, sans-serif;
  font-weight: normal;
  overflow: hidden;
}

#menu {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

#instructions {
  width: 70%;
  margin: 10%;
  position: absolute;
  color: rgba(255, 255, 255, 0.75);
  background-color: rgba(0, 255, 255, 0.25);
  box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.5);
  border: 1px solid rgba(127, 255, 255, 0.25);
}

#instructions h1 {
  text-align: center;
}

#blue, #red, #yellow {
  position: absolute;
  right: 10px;
  color: rgba(255, 255, 255, 0.75);
  padding: 5px;
  text-align: center;
  font-size: 10pt;
  box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.5);
  border: 1px solid rgba(127, 255, 255, 0.25);
}

#blue {
  bottom: 10px;
  background-color: rgba(31, 113, 244, 0.45);
}

#red {
  bottom: 150px;
  background-color: rgba(226, 74, 87, 0.45);
}

#yellow {
  bottom: 80px;
  background-color: rgba(239, 186, 38, 0.45);
}

.element {
  width: 200px;
  height: 130px;
  box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.5);
  border: 1px solid rgba(127, 255, 255, 0.25);
  text-align: center;
  cursor: default;
}

.element .symbol {
  position: absolute;
  top: 50px;
  left: 0px;
  right: 0px;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.95);
}

a {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.95);
  text-decoration: none;
}

a:hover {
  font-size: 35px;
}

.info {
  width: 300px;
  height: 500px;
  box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.5);
  border: 1px solid rgba(127, 255, 255, 0.25);
  text-align: center;
  cursor: default;
}

#message {
  padding: 50px 100px 75px 100px;
  width: 1500px;
  height: 350px;
  font-size: 125pt;
  color: #ffffff;
  text-align: center;
  cursor: default;
}

button {
  color: rgba(127, 255, 255, 0.75);
  background: transparent;
  outline: 1px solid rgba(127, 255, 255, 0.75);
  border: 0px;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(0, 255, 255, 0.5);
}

button:active {
  color: #000000;
  background-color: rgba(0, 255, 255, 0.75);
}

.hide {
  display: none;
}

.show {
  display: block;
}